body{
	background-image: url("background.jpg");
	background-size: cover;
}
.welcome{
	width: auto;
	height: auto;
	
	position: absolute;
	bottom: 150px;
	left: 30px;
}
.heading{
	color: white;
	font-family:sans-serif;
	
	
	
	font-size:80px;
}
.para{
	color: white;
	text-overflow: ellipsis;
	font-family: sans-serif;
	word-break: normal;
	
}
.new{
	color: white;
	font-family:sans-serif;
}
.signup{
	margin: 20px;
	padding: 500px;

}

.signin{
	width: 500px;
	height: auto;
	
	
	margin: 10px;
	padding: 100px;
	background-color: rgb(220,20,60);
	position: absolute;

	right: 30px;
	bottom: 100px;

}
.sign{
	margin: 20px;
	padding-left:50px;
	color: white;
	font-family: sans-serif;
}
	

